@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>RR_MVC_10142019</h1>
        <p class="lead">ASP.NET MVC application utilizing Entity Framework, SQL Server and validation.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
